html{
	background-color: #fafafa;
	transition: background-color 1000ms ease-out;
}
svg{
	max-height: 99vh;
}
g{
	transition: transform 500ms ease-out, opacity 200ms ease-out;
}
g:hover{
	cursor: pointer;
	transition: transform 200ms ease-out;
}
.me{
	transform-origin: center;
}

.is-horizontal-center {
  justify-content: center;
}

.modal-content{
	width: 75%;
}

img:hover{
	cursor: pointer;
}

.fa-external-link-alt{
	font-size: .8rem;
}