html{
	background-color: #fafafa;
	transition: background-color 1000ms ease-out;
}
svg{
	max-height: 99vh;
}
g{
	transition: transform 500ms ease-out, opacity 200ms ease-out;
}
g:hover{
	cursor: pointer;
	transition: transform 200ms ease-out;
}
.me{
	transform-origin: center;
}

.is-horizontal-center {
  justify-content: center;
}

.modal-content{
	width: 75%;
}

img:hover{
	cursor: pointer;
}

.fa-external-link-alt{
	font-size: .8rem;
}

@font-face{
	font-family:'Phosphate-Solid';
	src:url("data:;base64,\
  	      T1RUTwADACAAAQAQQ0ZGIEwYqCkAAACwAAAGTkdQT1OuNb8oAAAHAAAAAIBjbWFwAmMCjAAAADwA\
  	      AAB0AAAAAQAAAAMAAAAMAAQAaAAAABYAEAADAAYARQBQAGEAZQBnAGkAbABwAHYAef//AAAARABQ\
  	      AGEAZQBnAGkAbABuAHIAef///73/s/+j/6D/n/+e/5z/m/+a/5gAAQAAAAAAAAAAAAAAAAAAAAAA\
  	      AAAAAAABAAQCAAEBARBQaG9zcGhhdGUtU29saWQAAQEBIvgbAfgcBPgdDBX8DfumHAXi+qkF9y8P\
  	      jBD3ThGRHAZIEgADAQFDSFVQaG9zcGhhdGUgU29saWQgaXMgYSB0cmFkZW1hcmsgb2YgSW50ZXJu\
  	      YXRpb25hbCBUeXBlRm91bmRlcnMsIEluYy5Tb2xpZC9GU1R5cGUgNCBkZWYAAAEAJQEAMQAAQgAA\
  	      RgAASAAASgAATQAATwIAUwQAWgAAEgIAAQAYAG8AigDsARYBMQHrAfcCCAIpAvsDXQPDBK8ExQUj\
  	      BUMFZiuk+YIV+Cb92fwmBsrKFfen+Vv7pwYO4q4W+S/3TQfKw4R9vB+8fbR2rW+sb6VonWIInGGU\
  	      W1QaVIJbemIeeWFxaGpvaW9idlp9CHxaU4RMG6f3UhW9spejph+mopmvvBq8fa9woh6icGSXWRsO\
  	      M675LxX4HftD+0hB90X7OvtFPvdP+0P8JAYOoPi++DEVXYNke2see2p1cXB3b3drfGaCCIJmY4Zg\
  	      G/sz+2n5L/dpB7azhoKwH7CCq3ynd6Z3oXGbawibapNkXRr7xkEVlAann5KYmB+XmJGdohqihZ5/\
  	      mB6YfneRbxuCBg7Z9335LxX3NAb3kf0vBftmBnXHBfteBnVPBftmBvgO92MVXvcJXvsJBQ4zrvkv\
  	      Ffgd+0P7SEH3Rfs6+0U+90/7Q/wkBg73Kfhg+EwVf5Z8k3mRCJB5eY56G3h5iIR7H3uEfYGAf39+\
  	      gnyEegiEeoh4dxp3j3iSeh6SepV8mH+YfpqCnIQIhJydh54bop+QlZ4fnpSbmJicCE/3IPeV+3IG\
  	      fHB4cnZ1dnRzeHF7cHtvf2yCCIJsbIdqG1telJ1gH2CdZqRsqmuqcrB5tgh4toK5vBq7lLicth6c\
  	      tqOwqqupqq+ktZ4InbS4lLsbsKyHhKYfpoSigp6CoYCdgJp+CA6u+S8V93b9L/t2Bg4grvkvFfdy\
  	      /ID3TPtD/CoGDuWu+S8V90MG90z7lQX3lfdl/S/7RAf7S/eUBfuU+2UHDvdUn/fhFbuUuJ62Hp22\
  	      pLCrq6qqsKS2ngidtriUuxu7uIJ5th+2eLByq2yqa6RmnmAInWCUXlsaW4JeeWAeeGByZmxsa2tm\
  	      cmB5CHhgXoJbG1telJ5gH2CdZqRsq2uqcrB5tgh4toK4uxr3ZhZ4j3mSeh6SepV8mH6YfpqBnIQI\
  	      hJydh54bnp6PkpwfnJKZlZiYmJiVmpKcCJKcj52eGp6HnoScHoScgZl+mH6YfZV6kgiSeniPeBt4\
  	      eYeEeh96hHyBfn5+foF9hHoIhHqHeHgaDqD4vvgxFV2DZHtrHntqdXFwd293a3xmggiCZmOGYBv7\
  	      M/tp+S/3aQe2s4aCsB+wgqt8p3emd6Fxm2sIm2qTZF0a+8ZBFZQGp5+SmJgfl5iRnaIaooWef5ge\
  	      mH53kW8bggYOrq75LxX3ega2soWAsB+vgKp6pnWmdaBwmmsImmqSZmEaaoZugnQegnSAd4B8fnp8\
  	      fHp/9xH7cBj7jgYn9z0F+z37aQf3affnFZYGpKGRlp0fnJaUnqYapoKeepYelnl1kXIbgAYOKZz3\
  	      YxWahpqIm4iYiJuInIkIiZycipwbqpqWopSGlIKUH4KUf5V9lnyWfJd7mHqYfJt9nHycf5+CoQiC\
  	      oIakpxqqkaeWox6Wo5ufn5ufm6OXppQIk6anj6obm5uKipsfm4mZiZiKmomZiZmJCPtPB4aMhYuE\
  	      jIaMhYuEjAiMhISLhIeGi4UbhYqFioaKhoqGiIeICIeIiYaFGoaQhJSDHpSDloKYgJiAmX+bfZp9\
  	      mnuYeZh5lneUdAiUdI9ybxpuhm+Cch6CcXx1eHh3eHJ8bIAIgGxnhWEbcnOMjnYfdY14jnqOeI55\
  	      j3uQCA459w/4gBX7D/dD+Gb7Q/sP/ID7cAYO0PfIehVhZZCWaR9plm6bc6BzoHmmfqwIfqyEsbca\
  	      +Dz3afwzB3SQeZV/Hn6Um4WiG6KbkZiVH5SXkJ2iGvgz92r8PAdfhWV+ah5+anhwc3Zydm57aYAI\
  	      gGllhmEbDvT3afkvFfcF+7b3Bve2Bfd9BvuY/S8F+0EG+5j5LwUOsvdP97MV+2P4EAX3gQbY+yHX\
  	      9yEF94EG+2P8EAX7s/tpBw73vBT4uBUAAAABAAAACgAeACwAAURGTFQACAAEAAAAAP//AAEAAAAB\
  	      a2VybgAIAAAAAQAAAAEABAACAAAAAQAIAAEAOgAEAAAABQAUAB4AJAAuADQAAgAQ/4gAEf+DAAEA\
  	      Ef+hAAIAEP+XABH/jQABAAT/iAABAAT/gwABAAUABAAGAAgAEAAR") format('svg');
}